* {
    box-sizing: border-box;
}

.pict {
    overflow: hidden; 
    width: 100%;
}

.pict a {
    float: left;
    width: 19%;
    margin: 0.5%; 
    min-width: 170px;   
    display: block;
    text-decoration: none;
    overflow: hidden;
}

.pict a::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.pict img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -100%;
}

@media (max-width: 600px) {
    .pict a {
        float: none;      
        margin: 10px auto;  
        width: 80%;
        max-width: 300px;
       
        min-width: 0; 
    }
}