.pict {
    display: flex;              
    justify-content: space-between; 
    width: 100%;
}

.pict a {
    display: block;             
    width: 19%;                 
    position: relative;         
    height: 0;                  
    
    padding-bottom: 19%;       
    overflow: hidden;           
}

.pict img {
    position: absolute;         
    top: 0;
    left: 0;
    width: 100%;                
    height: 100%;               
    object-fit: cover;
}