* {
    box-sizing: border-box;
}

.pict {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.pict a {
    display: block;
    flex: 1 1 170px;
    min-width: 170px;
    position: relative;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.pict img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .pict {
        flex-direction: column;
        align-items: center;
    }

    .pict a {
        flex: 0 0 auto;
        width: 80%;
        max-width: 300px;
        min-width: 0;
        padding-bottom: 80%;
    }
    
    .pict a {
        padding-bottom: 80%; 
    }
}